<style>
    .bar-chart-ex{
        min-height: 333px !important;
    }
</style>
<div class="content-body">
    <section id="basic-datatable">
        <div class="card card-statistics">
            <div class="card-header">
                <h4 class="card-title">Statistics</h4>
                <div class="d-flex align-items-center">
                </div>
            </div>
            <div class="card-body statistics-body">
                <div class="row">
                    <div class="col-xl-3 col-sm-6 col-12 mb-2 mb-xl-0">
                        <div class="d-flex flex-row">
                            <div class="avatar bg-light-info me-2">
                                <div class="avatar-content">
                                    <i data-feather="user" class="avatar-icon"></i>
                                </div>
                            </div>
                            <div class="my-auto ml-2">
                                <h4 id="UsersCount" class="fw-bolder mb-0">0</h4>
                                <p class="card-text font-small-3 mb-0">Users</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 col-12 mb-2 mb-sm-0">
                        <div class="d-flex flex-row">
                            <div class="avatar bg-light-success me-2">
                                <div class="avatar-content">
                                    <i data-feather="home" class="avatar-icon"></i>
                                </div>
                            </div>
                            <div class="my-auto ml-2">
                                <h4 id="TownsCount" class="fw-bolder mb-0">0</h4>
                                <p class="card-text font-small-3 mb-0">Towns</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 col-12 mb-2 mb-sm-0">
                    <div class="d-flex flex-row">
                        <div class="avatar bg-light-warning me-2">
                            <div class="avatar-content">
                                <i data-feather="git-branch" class="avatar-icon"></i>
                            </div>
                        </div>
                        <div class="my-auto ml-2">
                            <h4 id="CategoriesCount" class="fw-bolder mb-0">0</h4>
                            <p class="card-text font-small-3 mb-0">Categories</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12 mb-2 mb-sm-0">
                    <div class="d-flex flex-row">
                        <div class="avatar bg-light-danger me-2">
                            <div class="avatar-content">
                                <i data-feather="package" class="avatar-icon"></i>
                            </div>
                        </div>
                        <div class="my-auto ml-2">
                            <h4 id="ProductsCount" class="fw-bolder mb-0">0</h4>
                            <p class="card-text font-small-3 mb-0">Products</p>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-sm-center align-items-start flex-sm-row flex-column">
                <div class="header-left">
                    <h4 class="card-title">Revenue Statistics</h4>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <canvas class="bar-chart-ex chartjs" data-height="600"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script src="app-assets/vendors/js/charts/chart.min.js"></script>
<script src="app-assets/js/home.js"></script>