<style>
    .btn-group .btn{
        padding: 12px 11px;
    }
</style>
<div class="content-body">
    <section id="basic-datatable">
      <div class="row">
          <div class="col-12">
              <div class="card">
                  <div style="justify-content: flex-start;" class="card-header border-bottom p-1">
                    <div class="head-label">
                        <h6 class="mb-0">Orders</h6>
                    </div>
                    <div class="btn-group" style="margin-left: auto;" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" name="btnradio" id="all" autocomplete="off" checked="">
                        <label class="btn btn-outline-primary waves-effect" for="all">All</label>

                        <input type="radio" class="btn-check" name="btnradio" id="registered" autocomplete="off">
                        <label class="btn btn-outline-primary waves-effect" for="registered">Registered</label>

                        <input type="radio" class="btn-check" name="btnradio" id="accepted" autocomplete="off">
                        <label class="btn btn-outline-primary waves-effect" for="accepted">Accepted</label>

                        <input type="radio" class="btn-check" name="btnradio" id="preparing" autocomplete="off">
                        <label class="btn btn-outline-primary waves-effect" for="preparing">Preparing</label>

                        <input type="radio" class="btn-check" name="btnradio" id="dispatched" autocomplete="off">
                        <label class="btn btn-outline-primary waves-effect" for="dispatched">Dispatched</label>

                        <input type="radio" class="btn-check" name="btnradio" id="ontheway" autocomplete="off">
                        <label class="btn btn-outline-primary waves-effect" for="ontheway">On the way</label>

                        <input type="radio" class="btn-check" name="btnradio" id="completed" autocomplete="off">
                        <label class="btn btn-outline-primary waves-effect" for="completed">Completed</label>

                        <input type="radio" class="btn-check" name="btnradio" id="rejected" autocomplete="off">
                        <label class="btn btn-outline-primary waves-effect" for="rejected">Rejected</label>
                    </div>
                  </div>
                  <div class="card-body">
                    <div id="">
                      <div class="">
                        <table id="table-1" class="datatables-basic table dt-responsive">
                            <thead>
                                <tr>
                                    <th>Customer Contact</th>
                                    <th>Customer Name</th>
                                    <th>Date</th>
                                    <th>Product Detail</th>
                                    <th>Delivery Charges</th>
                                    <th>Over Total</th>
                                    <th>Product Not Avail Case</th>
                                    <th>Service Fee</th>
                                    <th>Order Time</th>
                                    <th>Time</th>
                                    <th>Town</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody id="dataTable">

                            </tbody>
                        </table>
                      </div>
                    </div>  
                  </div>
              </div>
          </div>
      </div>
  </section>
</div>
<!-- END: Content-->
<div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Products</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
              </button>
          </div>
          <div class="modal-body">
              <div class="table-responsive">
                  <table id="table-2" class="table table-bordered nowrap w-100">
                      <thead>
                          <tr>
                              <th>Sr#</th>
                              <th>Product</th>
                              <th>Quantity</th>
                              <th>Price</th>
                              <th>Total Price</th>
                              <th>Market</th>
                              <th>Category</th>
                          </tr>
                      </thead>
                      <tbody id="dataTable2">
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
</div>

<script src="app-assets/js/orderspage.js"></script>


