<link rel="stylesheet" type="text/css" href="app-assets/vendors/css/pickers/pickadate/pickadate.css">
<link rel="stylesheet" type="text/css" href="app-assets/vendors/css/pickers/flatpickr/flatpickr.min.css">
<link rel="stylesheet" type="text/css" href="app-assets/css/plugins/forms/pickers/form-flat-pickr.min.css">
<link rel="stylesheet" type="text/css" href="app-assets/css/plugins/forms/pickers/form-pickadate.min.css">
<div class="content-body">
    <section id="basic-datatable">
      <div class="row">
          <div class="col-12">
              <div class="card">
                  <div style="justify-content: flex-start;" class="card-header border-bottom p-1">
                    <div class="head-label">
                        <h6 class="mb-0" id="PageHeading">Completed Orders</h6>
                    </div>
                    <div class="dt-buttons d-inline-flex" style="margin-left: auto;">
                        <button class="dt-button create-new btn btn-primary"  onclick="dateRangeFilter()" type="button">
                            <span>Date Range</span>
                        </button>
                        <button style="display:none;margin-left: 4px;" id="ResetTable" class="dt-button btn btn-primary"  onclick="createTable(0)" type="button">
                            <span>Reset</span>
                        </button>
                    </div>
                  </div>
                  <div class="card-body">
                    <div id="">
                      <div class="">
                        
                        <table id="table-1" class="datatables-basic table dt-responsive">
                            <thead>
                                <tr>
                                    <th>Customer Contact</th>
                                    <th>Customer Name</th>
                                    <th>Date</th>
                                    <th>Product Detail</th>
                                    <th>Delivery Charges</th>
                                    <th>Over Total</th>
                                    <th>Service Fee</th>
                                    <th>Order Time</th>
                                    <th>Time</th>
                                    <th>Town</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody id="dataTable">

                            </tbody>
                        </table>
                        <div style="text-align: right;">
                            <span>Total Earnings:</span>
                            <span style="font-weight: 800;" id="TotalPrice"></span>
                        </div>
                      </div>
                    </div>  
                  </div>
              </div>
          </div>
      </div>
  </section>
</div>
<!-- END: Content-->
<div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Products</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
              </button>
          </div>
          <div class="modal-body">
              <div class="table-responsive">
                  <table id="table-2" class="table table-bordered nowrap w-100">
                      <thead>
                          <tr>
                              <th>Sr#</th>
                              <th>Product</th>
                              <th>Quantity</th>
                              <th>Price</th>
                              <th>Total Price</th>
                              <th>Market</th>
                              <th>Category</th>
                          </tr>
                      </thead>
                      <tbody id="dataTable2">
                      </tbody>
                      
                  </table>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="modal fade" id="daterangeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Date Range</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 mb-2">
                        <div class="form-group">
                            <label for="start_date">Start Date</label>
                            <input class="form-control flatpickr-date-time flatpickr-input" id="start_date" type="text" />
                        </div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="form-group">
                            <label for="start_date">End Date</label>
                            <input class="form-control flatpickr-date-time flatpickr-input" id="end_date" type="text" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-default waves-effect" style="margin-left:auto;" data-bs-dismiss="modal">Close</a>
                <button type="submit" onclick="createTable(2)" id="add_btn" class="btn btn-primary btn btn-primary waves-effect waves-light"><i style="margin-right:4px;" class="fa fa-check-circle"></i>Submit</button>
            </div>
        </div>
    </div>
  </div>
  <script src="app-assets/vendors/js/pickers/pickadate/picker.js"></script>
  <script src="app-assets/vendors/js/pickers/pickadate/picker.date.js"></script>
  <script src="app-assets/vendors/js/pickers/pickadate/picker.time.js"></script>
  <script src="app-assets/vendors/js/pickers/pickadate/legacy.js"></script>
  <script src="app-assets/vendors/js/pickers/flatpickr/flatpickr.min.js"></script>
  <script src="app-assets/js/scripts/forms/pickers/form-pickers.min.js"></script>
<script src="app-assets/js/paymentspage.js"></script>


