<div class="content-body">
    <section id="basic-datatable">
      <div class="row">
          <div class="col-12">
              <div class="card">
                  <div style="justify-content: flex-start;" class="card-header border-bottom p-1">
                      <button id="BackButton" style="color: #fff;margin-right: 12px;display:none;border-radius: 4px;" onclick="BackFunction()" class="btn btn-warning badge-shadow"><i class="fas fa-arrow-alt-circle-left"></i></button>
                      <div class="head-label">
                          <h6 class="mb-0 PageHeading">Users</h6>
                      </div>
                  </div>
                  <div class="card-body">
                    <div id="">
                      <div class="table-responsive">
                        <table id="table-1" class="datatables-basic table">
                            <thead>
                                <tr>
                                    <th>Email</th>
                                    <th>Fullname</th>
                                    <th>Image</th>
                                    <th>Contact</th>
                                    <th>Address</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody id="dataTable">

                            </tbody>
                        </table>
                      </div>
                    </div>  
                  </div>
              </div>
          </div>
      </div>
  </section>
</div>

<script src="app-assets/js/userspage.js"></script>