<div class="content-body">
    <section id="basic-datatable">
      <div class="row">
          <div class="col-12">
              <div class="card">
                  <div style="justify-content: flex-start;" class="card-header border-bottom p-1">
                      <div class="head-label">
                          <h6 class="mb-0 PageHeading">Users</h6>
                      </div>
                      <div class="btn-group" style="margin-left: auto;" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" name="btnradio" id="all" autocomplete="off" checked="">
                        <label class="btn btn-outline-primary waves-effect" for="all">All</label>

                        <input type="radio" class="btn-check" name="btnradio" id="active_tab" autocomplete="off">
                        <label class="btn btn-outline-primary waves-effect" for="active_tab">Active</label>

                        <input type="radio" class="btn-check" name="btnradio" id="block_tab" autocomplete="off">
                        <label class="btn btn-outline-primary waves-effect" for="block_tab">Blocked</label>
                    </div>
                  </div>
                  <div class="card-body">
                    <div id="">
                      <div class="table-responsive">
                        <table id="table-1" class="datatables-basic table">
                            <thead>
                                <tr>
                                    <th>Email</th>
                                    <th>Fullname</th>
                                    <th>Image</th>
                                    <th>Contact</th>
                                    <th>Address</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody id="dataTable">

                            </tbody>
                        </table>
                      </div>
                    </div>  
                  </div>
              </div>
          </div>
      </div>
  </section>
</div>
<!-- END: Content-->
<div class="modal fade" id="addressModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">View</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body" id="Address">
                
            </div>
            <div class="modal-footer bg-whitesmoke br">
                <a class="btn btn-secondary" data-bs-dismiss="modal">Close</a>
            </div>
        </div>
    </div>
</div>
<script src="app-assets/js/userspage.js"></script>